* {
  border: solid red 1px;
}

html {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("./images/oldPaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}